# 依赖目录
node_modules/
bun.lock

# 构建输出
.nuxt/
.output/
.vercel/

# 文档
docs/

# Tauri
src-tauri/

# 配置文件
# *.config.js
# *.config.mjs
# *.config.ts

# 编辑器
.vscode/
.claude/
.cursor/

# 其他
public/
coverage/
*.min.js
*.min.css
